@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

:root {
  --color1: rgb(74, 4, 47);
  --color2: #fce8f6;
  --color3: #971766;
  --color4: rgb(215, 73, 160);
  --color5: rgb(239, 153, 207);
  --opacity1: rgba(125, 9, 81, 0.5);
  --read: linear-gradient(90deg, rgba(252,147,220,1) 0%, rgba(251,177,228,1) 20%, rgba(254,219,243,1) 40%, rgba(252,232,246,1) 50%, rgba(254,219,243,1) 60%, rgba(251,177,228,1) 80%, rgba(252,147,220,1) 100%);;
  --notRead: linear-gradient(90deg, rgba(210,164,255,1) 0%, rgba(220,187,254,1) 20%, rgba(237,219,255,1) 40%, rgba(242,232,252,1) 50%, rgba(237,219,255,1) 60%, rgba(220,187,254,1) 80%, rgba(210,164,255,1) 100%);
  --remove: linear-gradient(90deg, rgba(59,3,37,1) 0%, rgba(91,8,59,1) 20%, rgba(133,16,88,1) 40%, rgba(151,23,102,1) 50%, rgba(133,16,88,1) 60%, rgba(91,8,59,1) 80%, rgba(59,3,37,1) 100%);
}

body {
  width: auto;
  height: 100vh;
  background: url(./images/pink7.png);
  background-size: cover;
  background-position: center;
}

/* CONTAINER FOR BOOKS */

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

#container {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr;
}

#main {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(225px, 1fr));
  gap: 20px;
  padding: 50px;
  overflow-y: auto;
}

.book {
  background: url(./images/pink6.png);
  background-size: cover;
  background-position: center;
  color: var(--color1);
  width: 100%;
  height: 100%;
  padding: 15px;
  display: grid;
  grid-template-rows: 140px 40px;
  justify-items: center;
  text-align: center;
  border: 4px double transparent;
  border-image: linear-gradient(0.25turn, var(--color3), var(--color4), var(--color3));
  border-image-slice: 1;
}

.div1 {
  display: grid;
  align-items: center;
}

.div2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  gap: 10px;
}

.aReadClass, .removeButton {
  font-size: 15px;
  padding: 3px;
  border-radius: 5px;
  border: none;
}

.removeButton {
  background: var(--remove);
  color: var(--color2);
}

.aReadClass:hover, .removeButton:hover {
  transform: scale(1.15);
  cursor:pointer;
  box-shadow: 0 0 10px var(--color1);
}

.aReadClass:hover {
  box-shadow: 0 0 10px var(--color3);
}

.removeButton:hover {
  box-shadow: 0 0 10px var(--color3);
}

.green {
  background: var(--read);
  color: var(--color1);
}

.red {
  background: var(--notRead);
  color: var(--color1);
}

/* TOP WITH TITLE AND ADD BUTTON */

#top {
  background: url(./images/pink10.png);
  background-size: cover;
  background-position: center;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(0.25turn, var(--color3), var(--color5), var(--color3));
  border-image-slice: 1;
}

h1 {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 19px;
  font-size: 45px;
  color: var(--color2);
}

#addButton {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--color2);
  color: var(--color1);
  font-size: 15px;
  font-weight: bold;
  padding: 15px 10px;
  border-radius: 50px;
  border: 4px double var(--color4);
  margin: 20px;
}

#addButton:hover {
  transform: scale(1.1);
  cursor:pointer;
  box-shadow: 0 0 25px var(--color4);
}

/* ADD NEW BOOK CONTAINER */

#addDiv {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: clamp(300px, 80vw, 500px);
  height: clamp(200px, 50vh, 500px);
  background: url(./images/pink10.png);
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 35px var(--color3);
  border-radius: 20px;
  padding: 20px;
  align-content: space-around;
  justify-items: center;
  color: var(--color2);
}

#addDiv h2 {
  font-size: 25px;
  color: var(--color5);
}

input {
  background-color: var(--color2);
  color: var(--color3);
  padding: 8px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
}

input:hover {
  transform: scale(1.1);
}

input:active, input:focus {
  box-shadow: 0 0 15px var(--color5);
}

label {
  font-size: 23px;
}

input[type='checkbox'] {
  appearance: none;
  background-color: transparent;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border: 2px solid var(--color5);
  border-radius: 6px;
  transform: translateY(0.3em);
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background: var(--color2);
  box-shadow: 0 0 15px var(--color2);
  border: 2px solid var(--color5);
}

input[type="checkbox"]:hover {
  transform: scale(1.1) translateY(0.3em);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

::placeholder { 
  color: var(--color4);
}

#submit, #return {
  width: 80px;
  height: 40px;
  padding: 10px;
  font-size: 17px;
  border-radius: 7px;
  border: none;
  cursor: pointer;
}

#submit:hover, #return:hover {
  transform: scale(1.1);
  box-shadow: 0 0 15px var(--color5);
}

#submit {
  background: var(--read);
  margin-right: 10px;

}

#return {
  background: var(--remove);
  margin-left: 10px;
}

#alert {
  color: var(--color2);
  font-weight: bolder;
  font-size: 20px;
}

/* SCROLLBAR */

::-webkit-scrollbar {
	width: 20px;
	height: 20px;
	background-color: var(--color3);
	border-radius: 5px;
	border: 6px solid transparent;
	background-clip: content-box;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
background-color: transparent;
border-radius: 20px;
}

::-webkit-scrollbar-thumb {
background-color: var(--color4);
border-radius: 120px;
border: 8px solid transparent;
background-clip: content-box;
border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
background-color: var(--color5);
}

::-webkit-scrollbar-corner {
background: rgba(0,0,0,0);
}


/* RESPONSIVE */

@media only screen and (max-width: 550px) {

  #top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  h1 {
    position: static;
    transform: none;
    font-size: 40px;
  }
  
  #addButton {
    position: static;
    transform: none;
    margin: 0;
  }

  #main {
    gap: 20px;
    padding: 20px;
  }

}


@media only screen and (max-width: 341px) {

  #top {
    padding: 0 10px;
  }
  
  h1 {
    font-size: 30px;
  }
  
  #addButton {
    font-size: 13px;
    padding: 10px 7px;
  }

  h2 {
    font-size: 18px;
  }
  
  h3 {
    font-size: 17px;
  }
  
  p {
    font-size: 16px;
  }
  
  #main {
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 10px;
    padding: 10px 5px;
  }
  
  .book {
    padding: 5px;
  }
}
